@using System.Configuration
@model PaysonShop.Models.CheckoutViewModel

@{
    Layout = null;
    
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Test</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.js"></script>
        <link rel='stylesheet' id='main-css' href='~/Content/main.css?ver=1.0.0c' type='text/css' media='all' />
        

    </head>
    <body style="margin: 0;">
        <div style="width: 100%; height: 70px; background-color: #28315c; color: #FFF; margin-top: 0; margin-bottom: 20px;">
            
                <div style="float:left"><img src="~/Content/pp.png" /> </div>
                <div style="float:left"><h1 style="margin-top: 0; line-height: 40px; margin-top: 27px; margin-left: 20px;">Checkout page</h1></div>
                <div style="float:right"><h1 style="margin-top: 0; line-height: 40px; margin-top: 27px; margin-left: 20px;">@Model.ShoppingCart.CheckoutId</h1></div>
                <div style="clear: both"></div>
            
        </div>
        
        <div style="width: 2000px; margin-left: 50px;">
            <div style="width: 300px; float: left; margin-right: 80px;">
                <article>
                    <header>
                        <h1>Cart</h1>
                    </header>
                    <div>
                        <form id="updateForm">
                            @Html.HiddenFor(x => x.ShoppingCart.Id)
                            @Html.HiddenFor(x => x.ShoppingCart.CheckoutId)

                            <table style="width:100%;">
                                <thead>
                                    <tr>
                                        <th style="text-align: left;">Product</th>
                                        <th style="text-align: left;">Price</th>
                                        <th style="text-align: left; width: 80px;">Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for(var i = 0; i < Model.ShoppingCart.Items.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                <a href="httsp://www.payson.se">
                                                    @Html.HiddenFor(x => Model.ShoppingCart.Items[i].Reference)
                                                    @Html.HiddenFor(x => Model.ShoppingCart.Items[i].Name)
                                                    @Html.DisplayFor(x => Model.ShoppingCart.Items[i].Name)
                                                </a>					
                                            </td>

                                            <td>
                                                <span class="amount">
                                                    @Html.HiddenFor(x => Model.ShoppingCart.Items[i].UnitPrice)
                                                    @Html.DisplayFor(x => Model.ShoppingCart.Items[i].UnitPrice)
                                                </span>					
                                            </td>

                                            <td>
                                                <div class="quantity">
                                                    @Html.TextBoxFor(x => Model.ShoppingCart.Items[i].Quantity, new { style = "width: 80px;", type="number", step="1", min="0", size="4" })
                                                   
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <br/>
                            <button id="updateSubmitButton" type="submit" style="float:right;background-color:#ef510e;border-color: #ef510e;color: #ffffff;">Update Cart</button>
                        </form>
                    </div>
                </article>
                
                <article>
                    <header>
                        <h1>Settings</h1>
                    </header>
                    <div>
                        <div style="margin: 10px;">
                            <label>Checkout width: </label>
                            <select id="sizeSelector" style="margin-top: 15px;">
                                <option value="300">300px</option>
                                <option value="400">400px</option>
                                <option value="500">500px</option>
                                <option value="600" selected>600px</option>
                                <option value="700">700px</option>
                                <option value="800">800px</option>
                                <option value="900">900px</option>
                                <option value="1000">1000px</option>
                            </select>
                        </div>
                        
                        <div style="margin: 10px;">
                            <form id="changeSchemeForm">
                                @Html.HiddenFor(x => x.ShoppingCart.Id)
                                @Html.HiddenFor(x => x.ShoppingCart.CheckoutId)
                                

                                <label>Checkout theme: </label>
                                @Html.DropDownListFor(x => x.ColorScheme, Model.ColorSchemeOptions )
                            </form>
                        </div>
                        <div style="margin: 10px;">
                            <form id="changeLocaleForm">
                                @Html.HiddenFor(x => x.ShoppingCart.Id)
                                @Html.HiddenFor(x => x.ShoppingCart.CheckoutId)
                                

                                <label>Checkout locale: </label>
                                @Html.DropDownListFor(x => x.Locale, Model.LocaleOptions )
                            </form>
                        </div>
                    </div>
                </article>
                <article>
                    <header>
                        <h1>Test users</h1>
                    </header>
                    <div>
                        <div style="margin: 10px;">
                            <h3>Persons</h3>
                            <table style="width: 100%">
                                <tr>
                                    <td><b>Identity number</b></td>
                                    <td><b>Zip</b></td>
                                    <td><b>Approved</b></td>
                                </tr>
                                <tr>
                                    <td>4605092222</td>
                                    <td>99999</td>
                                    <td>Yes</td>
                                </tr>
                                <tr>
                                    <td>4610081111</td>
                                    <td>99999</td>
                                    <td>No (Denied)</td>
                                </tr>
                                <tr>
                                    <td>4606082222</td>
                                    <td>99999</td>
                                    <td>No (Abuse)</td>
                                </tr>
                                <tr>
                                    <td>4611071111</td>
                                    <td>99999</td>
                                    <td>No (Limit)</td>
                                </tr>
                            </table>

                            <h3>Companies</h3>
                            <table style="width: 100%">
                                <tr>
                                    <td><b>Identity number</b></td>
                                    <td><b>Zip</b></td>
                                    <td><b>Approved</b></td>
                                </tr>
                                <tr>
                                    <td>4608142222</td>
                                    <td>99999</td>
                                    <td>Yes</td>
                                </tr>
                                <tr>
                                    <td>4608302222</td>
                                    <td>99999</td>
                                    <td>No (Denied)</td>
                                </tr>
                                <tr>
                                    <td>4609191111</td>
                                    <td>99999</td>
                                    <td>No (Abuse)</td>
                                </tr>
                                <tr>
                                    <td>4506172222</td>
                                    <td>99999</td>
                                    <td>No (Limit)</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </article>
                <article>
                    <header>
                        <h1>Test card</h1>
                    </header>
                    <div>
                        <div style="margin: 10px;">
                            <table>
                                <tr>
                                    <td>
                                        <b>Card number</b>
                                    </td>
                                    <td>
                                        4581 1111 1111 1112
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Expiration date</b>
                                    </td>
                                    <td>
                                        Any
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>CVC</b>
                                    </td>
                                    <td>
                                        Between 100-500
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </article>
            </div>
            <div style="width: auto; float: left;">
                <article>
                    <header>
                        <h1>Checkout</h1>
                    </header>

                    <div id="checkoutContainer" style="width: 600px; border: dotted gray 1px;">
                        @Html.Raw(Model.CheckoutSnippet)
                    </div>
                </article>
            </div>
        </div>
    </body>
</html>

<script>
    function sendUpdate() {
        var iframe = document.getElementById('paysonIframe');

        iframe.contentWindow.postMessage('updatePage', '*');
    }


    $(document).ready(function () {
        $("#updateSubmitButton").click(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("Update")",
                data: $("#updateForm").serialize(),
                success: function () {
                    sendUpdate();
                }
            });

            return false;
        });

        $("#ColorScheme").change(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ChangeTheme")",
                data: $("#changeSchemeForm").serialize(),
                success: function (returnedData) {
                    $('#checkoutContainer').html(returnedData);
                }
            });

            document.getElementById('paysonIframe').src = document.getElementById('paysonIframe').src
        });

        $("#Locale").change(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ChangeLocale")",
                data: $("#changeLocaleForm").serialize(),
                success: function (returnedData) {
                    $('#checkoutContainer').html(returnedData);
                }
            });

            document.getElementById('checkoutIframe').src = document.getElementById('checkoutIframe').src
        });


        $("#sizeSelector").change(function () {

            var value = $(this).val();

            $("#checkoutContainer").animate({ width: value }, 'fast');
        });
    });
</script>